@charset "utf-8";

/* ----------------------------------- */
html {
  font-size: 100%;
  position: relative;
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
  width: 100vw;
}

#wrap {
  margin-left: 5rem;
}

/* ------------- Index ---------------- */

/* --- HEADER --- */
.logo {
float: left;
padding: 2em 0 0 0;
}

a {
  text-decoration: none;
  color: #388e3c;
}

.header-list {
  font-family: "black han sans", serif;
  list-style: none;
  font-size: 1.5em;
  text-align: center;
  /* float: left; */
}

li {
  display: inline-block;
  padding: 3em 3em 0 3em;
}


/* ------------- MAIN ---------------- */

.main-img {
  margin: 2em 0;
  height: 40rem;
  background-image: url(../images/city.jpg);
  text-align: center;
}

.main-img h1 {
  margin-top: 3rem;
  display: inline-block;
}

/* --- Section About Us --- */
.company {
  display: inline-flex;
}
.about {
  width: 47.5vw;
  margin-left: 3rem;
  padding-top: 5rem;
}

.about h2 {
  font-size: 2.5rem;
}

.about p {
  font-size: 1.5rem;
}

.about-img img {
  width: 40vw;
  height: 45vh;
  display: inline;
  /* border-radius: 10px; */
  filter: grayscale();
}

/* --- Section Our Services --- */
.service {
  width: 90vw;
}
.our {
  text-align: center;
  margin: 2rem 0;
}

.our h2 {
  font-size: 2.5rem;
}

.our h3 {
  font-size: 1.5rem;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.service-img {
  height: 50px;
}

.grid p {
  font-size: 1.5rem;
}


/* --- FOOTER --- */
footer {
  text-align: center;
}

footer img {
  height: 60px;
}

hr {
  border: 1px solid grey;
}

.footer-icon {
  width: 40vw;
  display: inline-flex;
  justify-content: space-evenly;
  font: bolder;
}
