@charset "utf-8";

/* ----------------------------------- */
html {
    font-size: 100%;
    position: relative;
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    max-width: 1500px;
}
/* ------------- Index ---------------- */

/* --- HEADER --- */
h1 {
    text-align: center;
    font-size: 60px;
    font-family: Bradley Hand ITC, sans-serif;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: black;
}
.header-list {
    font-family: "HY목각파임B", serif;
    list-style: none;
    font-size: 2em;
    text-align: center;
}
li {
    display: inline-block;
    padding: 0 3em 0 3em;
}

/*--- MAIN ---*/
.bg {
    background-image: url(/images/intro-bg.jpg);
    margin-left: 5em;
    height: 800px;
    border-radius: 10px;
}
.top {
    padding: 3em 0 0 3em;
    font-family: "휴먼편지체";
    font-size: xx-large;
    color: rgb(112, 111, 111);
}
.bottom {
    float: right;
    padding: 15em 5em 0 0;
    font-size: xx-large;
    font-family: "휴먼편지체", sans-serif;
    color: rgb(112, 111, 111);
}

/* ------------- Introducion ---------------- */
.intro {
    display: inline-block;
}
.photo-intro {
    min-width: 600px;
    height: 50vh;
    margin: 6vw 1vw 0 10vw;
    display: inline;
    border-radius: 10px;
}
.president {
    float: right;
    width: 30vw;
    min-width: 600px;
    margin: 5vw 0 0 0;
    padding: 1em;
    font-family: "휴먼편지체", sans-serif;
    font-size: 1.6em;
    border-radius: 10px;
}

/* ------------- Tutor ---------------- */
.tutor {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 12vw 0 0 10vw;
    max-width: 1200px;
}
.tutor-eto {
    width: 300px;
    height: 300px;
    background-size: 300px;
    display: inline-flex;
    border-radius: 10px;
}
.tutor-gj {
    width: 300px;
    height: 300px;
    background-size: 300px;
    margin-left: 6.5em;
    display: inline-flex;
    border-radius: 10px;
}
.tutor-moon {
    width: 300px;
    height: 300px;
    background-size: 300px;
    margin-left: 6.5em;
    display: inline-flex;
    border-radius: 10px;
}
.tutor img:hover {
    background-size: 500px;
    width: 500px;
    height: 500px;
    opacity: 0.5;
    transition: ease 1s;
}
.name {
    font-size: 1.5em;
    font-family: "휴먼편지체", sans-serif;
}
.name-gj, .name-moon {
    margin-left: 4.5em;
    font-size: 1.5em;
    font-family: "휴먼편지체", sans-serif;
}
.back {
    margin-left: 15vw;
    padding: 0.3em;
    background-color: rgb(204, 201, 201);
    display: inline;
    border-radius: 10px;
}
/*--- ETO GJ MOON ---*/
.eto, .gj, .moon {
    float: right;
    width: 30vw;
    min-width: 600px;
    margin: 5vw 0 0 0;
    padding: 1em;
    font-family: "휴먼편지체", sans-serif;
    font-size: 1.6em;
    border-radius: 10px;
}

/* ------------- Curriculum ---------------- */
#main {
    width: 1200px;
    height: 500px;
    margin: 7vw 0 0 10vw;
    display: inline-flex;
}
.info {
    width: 600px;
    height: 500px;
}
.curri-head {
    font-size: 2em;
    color: grey;
}
.option {
    font-size: x-small;
    color: #00897b;
    display: inline-flex;
    float: right;
    font-weight: bold;
}
.curri-sub {
    font-size: small;
    color: grey;
    display: inline-block;
}
.curri-list li {
    background-color: whitesmoke;
    width: 600px;
    height: 50px;
    list-style: none;
    border: rgb(230, 229, 229) 1px solid;
    border-radius: 3px;
    padding-top: 12px;
    text-align: left;
    vertical-align: middle;
    display: inline-flex;
}
.order {
    float: right;
    width: 600px;
    height: 500px;
    margin-left: 5vw;
    padding-left: 5vw;
    border-left: 3px solid gainsboro;
}
.button {
    float: right;
}
.basket {
    background-color: lightcoral;
    color: white;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    margin-top: 1em;
}
.buy{
    color: #00897b;
    border:#00897b 2px solid;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    margin-top: 1em;
    font-weight: bold;
}
h2 {
    font-size: 40px;
}
.emoticon {
    width: 20px;
    height: 20px;
}
.head-description {
    width: 400px;
    font-size: 1.3em;
    padding: 0;
    margin: 1em;
    display: inline-block;

}
.description li {
    width: 400px;
    font-size: 1.2em;
    padding: 3px 0;
    display: inline-block;
    margin-left: 1em;
}
.refund {
    width: 400px;
    font-size: 1em;
    padding: 20px 0 0 0;
    display: inline-block;
    margin-left: 10vw;
    color: #00897b;
}
.coupon {
    width: 400px;
    font-size: 1em;
    padding: 20px 0 0 0;
    display: inline-block;
    margin-left: 12vw;
    color: #00897b;
    font-weight: bold;
}

/* ------------- QNA ---------------- */
#table {
    margin: 5vw 0 0 10vw;
    width: 60vw;
    border: gray 1px solid;
    border-radius: 10px;
    padding: 3vw 3vw 3vw 6vw;
}
.bulletin tr td {
    padding: 10px;
    background-color: whitesmoke;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
}
hr {
    width: 51vw;
}
.group {
    width: 4vw;
}
.title {
    width: 20vw;
}
.nickname {
    width: 10vw;
}
.date {
    width: 10vw;
}
.view {
    width: 5vw;
}
.like {
    width: 5vw;
}