@charset "utf-8";

/* ----------------------------------- */
html {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}
/* 모바일용 CSS */
@media all and (max-width:767px){

/* 기본 CSS */
#wrap {
    position: relative;
}

/* HEADER */
header {
    text-align: center;
    margin: 16px 0;
    margin: 1rem 0;
}

h1 {
    font-family: "Bradley Hand ITC", sans-serif;
    font-size: 48px;
    font-size: 3rem;
    font-weight: bolder;
}

.header-list {
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background:#2c3e50;
}

.header-list li {
    font-family: "Bradley Hand ITC", "sans-serif";
    font-size: 24px;
    font-size: 2rem;
    font-weight: bolder;
}

.header-list li a {
    color: white;
}

.bg {
    background: url(../images/intro-bg.jpg) center center no-repeat;
    height: 500px;
    height: 31.25rem;
}

.bg .top {
    font-family: "휴먼편지체", "Nanum Pen Script", "Nanum Myeongjo", sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    color: #0d47a1;
    padding: 0 96px 0 8px;
    padding: 0 6rem 0 0.5rem;
}

.bottom {
    font-family: "휴먼편지체", "Nanum Pen Script", "Nanum Myeongjo", sans-serif;
    font-size: 24px;
    font-size: 1.6rem;
    color: #0d47a1;
    padding: 256px 16px 0 64px;
    padding: 16rem 1rem 0 4rem;
}

/* ------------- Introducion ---------------- */
.intro {
    display: ;
    width: 100%;
    height: 55rem;
}

.photo-intro {
    max-width: 100%;
    border-radius: 16px;
}

.president {
    max-width: 100%;
    height: 10rem;
    padding: 1rem;
    font-family: "휴먼편지체", sans-serif;
    font-size: 1.5rem;
}

/* FOOTER */
footer {
    background-color: #424242;
    font-size: 16px;
    font-size: 1rem;
    color: white;
    text-align: center;
    height: 50px;
}

footer span {
    display: none;
}
}

/* 태블릿용 CSS */
@media all and (min-width:768px){
/* 기본 CSS */
#wrap {
    position: relative;
}

/* HEADER */
header {
    text-align: center;
}

h1 {
    font-family: "Bradley Hand ITC", sans-serif;
    font-size: 60px;
    font-size: 3.75rem;
    font-weight: bolder;
}

.header-list {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    margin: 1rem 0;
    padding: 16px;
    padding: 1rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.header-list li {
    font-family: "Bradley Hand ITC", "sans-serif";
    font-size: 32px;
    font-size: 2rem;
    font-weight: bolder;
}

.bg {
    background: url(../images/intro-bg.jpg) center center no-repeat;
    height: 800px;
    height: 50rem;
}

.bg .top {
    font-family: "휴먼편지체", sans-serif;
    font-size: 32px;
    font-size: 2rem;
    color: #0d47a1;
    float: left;
    padding: 32px 320px 0 80px;
    padding: 2rem 20rem 0 5rem;
}

.bottom {
    font-family: "휴먼편지체", sans-serif;
    font-size: 32px;
    font-size: 2rem;
    color: #0d47a1;
    padding: 560px 80px 0 400px;
    padding: 35rem 5rem 0 25rem;
}

/* ------------- Introducion ---------------- */
.intro {
    display: flex;
    width: 100%;
    height: 52rem;
    align-items: center;
    justify-content: center;
}

.photo-intro {
    width: 40%;
    height: auto;
    min-height: 400px;
    min-height: 25rem;
    border-radius: 16px;
}

.president {
    width: 800px;
    width: 50rem;
    padding: 1rem;
    font-family: "휴먼편지체", sans-serif;
    font-size: 1.5rem;
}

/* FOOTER */
footer {
    background-color: #424242;
    font-size: 16px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

footer br {
    display: none;
}
}


/* PC용 CSS */
@media all and (min-width:1024px){
/* 기본 CSS */
#wrap {
    position: relative;
}

/* HEADER */
header {
    text-align: center;
}

h1 {
    font-family: "Bradley Hand ITC", sans-serif;
    font-size: 60px;
    font-size: 3.75rem;
    font-weight: bolder;
}

.header-list {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    margin: 1rem 0;
    padding: 16px;
    padding: 1rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    flex-flow: row;
}

.header-list li {
    font-family: "Bradley Hand ITC", "sans-serif";
    font-size: 32px;
    font-size: 2rem;
    font-weight: bolder;
}

.bg {
    background: url(../images/intro-bg.jpg) center center no-repeat;
    height: 800px;
    height: 55rem;
}

.bg .top {
    font-family: "휴먼편지체", sans-serif;
    font-size: 32px;
    font-size: 2rem;
    color: #0d47a1;
    float: left;
    padding: 80px 400px 0 320px;
    padding: 5rem 25rem 0 20rem;
}

.bottom {
    font-family: "휴먼편지체", sans-serif;
    font-size: 32px;
    font-size: 2rem;
    color: #0d47a1;
    padding: 880px 160px 0 320px;
    padding: 50rem 10rem 0 20rem;
    position: absolute;
}

/* ------------- Introducion ---------------- */
.intro {
    display: flex;
    width: 100%;
    height: 52rem;
    align-items: center;
    justify-content: center;
}

.photo-intro {
    width: 40%;
    height: auto;
    min-height: 400px;
    min-height: 25rem;
    border-radius: 16px;
}
.president {
    width: 800px;
    width: 50rem;
    padding: 1rem;
    font-family: "휴먼편지체", sans-serif;
    font-size: 2rem;
}


/* FOOTER */
footer {
    background-color: #424242;
    font-size: 16px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

footer br {
    display: none;
}
}